@font-face {
  font-family: "Raleway", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap);
}

* {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95%;
}

.glass {
  width: 70%;
  min-height: 55vh;
  vertical-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(147, 255, 237, 0.7),
    rgba(124, 192, 255, 0.3)
  );
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 35px;
  box-shadow: 4px 4px 15px rgba(22, 44, 44, 0.8);
  margin: 20px auto;
}

.titel {
  background: linear-gradient(
    to right bottom,
    rgba(245, 255, 253, 0.7),
    rgba(206, 231, 255, 0.3)
  );
  border-style: hidden;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  width: 35%;
  /* kleuren nog aanpassen */
  box-shadow: 4px 4px 15px rgba(22, 44, 44, 0.8);
}

@media only screen and (max-width: 680px) {
  .titel {
    width: 80%;
  }
}

.paneel {
  background: linear-gradient(
    to right bottom,
    rgba(245, 255, 253, 0.7),
    rgba(206, 231, 255, 0.3)
  );
  border-style: hidden;
  border-radius: 15px;
  width: 70%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
  margin-top: 1%;
  box-shadow: 4px 4px 15px rgba(22, 44, 44, 0.8);
}

.inset-text {
  color: transparent;
  background-color: #000000;
  text-shadow: 0px 2px 3px rgba(212, 212, 212, 0.384);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-weight: 900;
  overflow-x: hidden;
}

/* De sidenavs */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  right: -200px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 250px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  overflow-x: hidden;
}

#mySidenav a:hover {
  right: 0;
}

#home {
  top: 30%;
  background: linear-gradient(
    to right bottom,
    rgba(245, 255, 253, 0.7),
    rgba(206, 231, 255, 0.3)
  );
}

#about {
  top: 40%;
  background: linear-gradient(
    to right bottom,
    rgba(245, 255, 253, 0.7),
    rgba(206, 231, 255, 0.3)
  );
}

#projects {
  top: 50%;
  background: linear-gradient(
    to right bottom,
    rgba(245, 255, 253, 0.7),
    rgba(206, 231, 255, 0.3)
  );
}

#contact {
  top: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(245, 255, 253, 0.7),
    rgba(206, 231, 255, 0.3)
  );
}

.closebtn {
  display: none;
}

.sidenav-button {
  display: none;
}

/* de Main content  */
h1 {
  font-weight: 900;
  font-size: 1.875em;
  text-transform: uppercase;
  opacity: 0.8;
  text-align: center;
}

h3 {
  color: black;
  font-weight: 600;
  opacity: 0.8;
}

p {
  font-weight: 500;
  margin: auto;
  width: 80%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button {
  background: linear-gradient(
    to right bottom,
    rgba(245, 255, 253, 0.7),
    rgba(206, 231, 255, 0.3)
  );
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 15px rgba(22, 44, 44, 0.8);
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  margin-top: 50px;
}

.button-start:hover {
  box-shadow: 2px 2px 4px rgba(22, 44, 44, 0.8);
}

.button-start:focus {
  outline: none;
  box-shadow: inset 2px 2px 4px rgba(22, 44, 44, 0.8);
}

#thigmo {
  cursor: pointer;
  background-color: #000000;
}

#thigmo img {
  width: 50%;
}