* {
    font-family: "Times New Roman", serif;
}

body {
    background-color: black;
}

h1 {
    font-size: 8.5vw;
    color: white;
}

p, button {
    font-size: 20px;
}

/* begin van nav-bar */

#navbar {
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

#navbar #logo {
    background-color: black;
    float: left;
    text-align: center;
    width: 5%;
}

#navbar-mid {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    float: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#navbar-mid a {
    padding: 8px 15px;
    text-decoration: underline rgba(255,255,255,0);
    transition: text-decoration-color .5s, color .5s;
}

#navbar-mid a:hover {
    text-decoration-color: rgba(254,218,95,1);
    color: rgb(254,218,95);
}

#tickets {
    position: relative;
    background-image: none;
    margin-right: 5%;
    float: right;
    padding: 10px 45px;
    border: solid 1px rgb(159,160,253);
    z-index: 1;
}

#tickets::before {
    position: absolute;
    content: "";
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right ,rgb(159,160,253), rgba(137, 208, 255, 0.863));
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
}

#tickets:hover::before {
    opacity: 1;
}

/* eind van nav-bar */
/* begin van middle part */

#middle #thigmo {
    position: absolute;
    z-index: 1;
    display: flex;
    margin: -1.5% 0 0 13.7%;
    background: linear-gradient(to right, white 70%, 97%, rgba(255, 255, 255, 0.322));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Bloemen */
#middle #flowers {
    position: relative;
    display: flex;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 35%;
    margin-top: 8%;
    z-index: 2;
}

/* 'plan visit' Button */
#middle #planVisit {
    position: relative;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 175, 175, 0.329);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 16px;
    padding: 10px 45px;
    cursor: pointer;
    border: solid 0.5px white;
    transition: padding .5s;
}

#middle #planVisit:hover {
    padding: 12px 50px;
}